node_modules
tmp/cache
public/packs/**
public/packs/*.json
public/packs/manifest.json
public/packs/js/*.js
public/packs/js/*.map
public/packs/media/flags/*.svg
public/packs/media/fonts/*.svg
log/*.log
tmp/pids/**
tmp/pids/*.pid

.idea
.rakeTasks
.generators
app/javascript/config/config.jsx

maps/*
public/img/userpics/1236.png
