{
  "swagger": "2.0",
  "info": {
    "description": "T-Navi is an application for office navigation and handling offices maps. Base URLs: **navi.t-systems.ru** - prod, **navi-dev.t-systems.ru** - test.",
    "version": "1.0.0",
    "title": "Navi 2.0 API",
    "contact": {
      "email": "sergei.brezhnev@t-systems.com"
    }
  },
  "host": "navi.t-systems.ru",
  "basePath": "/api/v1",
  "tags": [
    {
      "name": "floors",
      "description": "Floors endpoints. All details about the floor."
    },
    {
      "name": "floor_configs",
      "description": "Floors config endpoints. Additional info about each floor."
    },
    {
      "name": "object_items",
      "description": "Object items endpoints. Desks and other objects in the map."
    },
    {
      "name": "object_types",
      "description": "Object types endpoints. Used for describing different types of object_items."
    },
    {
      "name": "locations",
      "description": "Locations endpoints. Base location at the map (walls) and others over it."
    },
    {
      "name": "location_types",
      "description": "Location types endpoints. Used for describing different types of locations. Base location id=1, others over it."
    },
    {
      "name": "bookings",
      "description": "All about bookings processing."
    },
    {
      "name": "search",
      "description": "Search for different stuff."
    },
    {
      "name": "login",
      "description": "Auth process."
    },
    {
      "name": "contracts",
      "description": "Connection between contracts and locations by meta fields."
    },
    {
      "name": "sdmanagers_costcenters",
      "description": "Connection between sdmanagers (who can share ds places to employees/costcetners/projects) and costcenters that have locations with object items (desk with type = 1)."
    },
    {
      "name": "meta_fields",
      "description": "Fields that have type and name and can be mapped (using meta_maps) to objects (object items, locations and other)."
    },
    {
      "name": "meta_types",
      "description": "Types of meta fields: checkbox, text, image and any other that developer would add and realize."
    },
    {
      "name": "meta_maps",
      "description": "Using for mapping meta fields to objects."
    },
    {
      "name": "meta_values",
      "description": "Store values of mapped meta fields."
    },
    {
      "name": "employees",
      "description": "Store data about employees. Once at 4 hours runs scripts that update employees table from centra."
    },
    {
      "name": "employee_adds",
      "description": "Store additional data about employees."
    },
    {
      "name": "cities",
      "description": "Cities endpoints. All details about the cities."
    },
    {
      "name": "buildings",
      "description": "Buildings endpoints. All details about the buildings."
    },
    {
      "name": "offices",
      "description": "Offcies endpoints. All details about the offices."
    },
    {
      "name": "rights",
      "description": "Rights endpoints. All details about the rights."
    },
    {
      "name": "group_rights",
      "description": "Group rights endpoints. All details about the group rights. Connection between group and rights."
    },
    {
      "name": "groups",
      "description": "Groups endpoints. All details about the groups."
    },
    {
      "name": "roles",
      "description": "Roles endpoints. All details about the roles. Maps groups to employees or other."
    },
    {
      "name": "heartbeats",
      "description": "Heartbeats (logs) endpoints. Using for store and manage logs when users make some changes with object items with object type id = 1 (desks)."
    },
    {
      "name": "available_dates_for_parking",
      "description": "Available dates for parking endpoints. Using for store and manage with available dates for booking parking places."
    },
    {
      "name": "positions",
      "description": "Position endpoints. Actually, I don't know why we added it."
    },
    {
      "name": "reports",
      "description": "Reports endpoints. Generate different reports and can send it as array of data or as .xls file."
    }
  ],
  "schemes": [
    "https"
  ],
  "paths": {
    "/floors": {
      "get": {
        "tags": [
          "floors"
        ],
        "summary": "Get floors",
        "description": "Need right view_floors.",
        "operationId": "getFloors",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "description": "Auth Token",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Floor"
              }
            }
          },
          "401": {
            "description": "Access denied",
            "schema": {
              "$ref": "#/definitions/AccesDeniedResponse"
            }
          }
        }
      },
      "post": {
        "tags": [
          "floors"
        ],
        "summary": "Add a new floor",
        "description": "Need right create_floor",
        "operationId": "addFloor",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "description": "Auth Token",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Floor object that needs to be added",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Floor"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Floor"
            }
          },
          "401": {
            "description": "Access denied",
            "schema": {
              "$ref": "#/definitions/AccesDeniedResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "floors"
        ],
        "summary": "Update an existing floor",
        "description": "Need right update_floor",
        "operationId": "updateFloor",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "description": "Auth Token",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Floor"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Floor"
            }
          },
          "401": {
            "description": "Access denied",
            "schema": {
              "$ref": "#/definitions/AccesDeniedResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "floors"
        ],
        "summary": "Delete floor",
        "description": "Need right delete_floor",
        "operationId": "deleteFloor",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "description": "Auth Token",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "id",
            "description": "",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "example": "47"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "example": "47"
                },
                "message": {
                  "type": "string",
                  "example": "Floor removed"
                }
              }
            }
          },
          "401": {
            "description": "Access denied",
            "schema": {
              "$ref": "#/definitions/AccesDeniedResponse"
            }
          }
        }
      }
    },
    "/floors/{id}": {
      "get": {
        "tags": [
          "floors"
        ],
        "summary": "Find floor by ID",
        "description": "Returns a single floor Need right view_floor. Need right view_floor (and for_test_user_only if test user)",
        "operationId": "getFloorById",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "description": "Auth Token",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "description": "ID of floor to return",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation. When test user returns only test floor.",
            "schema": {
              "$ref": "#/definitions/Floor"
            }
          },
          "401": {
            "description": "Access denied",
            "schema": {
              "$ref": "#/definitions/AccesDeniedResponse"
            }
          }
        }
      }
    },
    "/floors/{id}/plan": {
      "get": {
        "tags": [
          "floors"
        ],
        "summary": "Get floors plan",
        "description": "Return plan of floor as svg.",
        "operationId": "getFloorPlan",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "description": "Auth Token",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "id",
            "description": "Id of floor",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation. return svg file",
            "schema": {
              "type": "string",
              "example": "floor_plan_30.svg"
            }
          },
          "401": {
            "description": "Access denied",
            "schema": {
              "$ref": "#/definitions/AccesDeniedResponse"
            }
          }
        }
      }
    },
    "/floors/{id}/lock": {
      "post": {
        "tags": [
          "floors"
        ],
        "summary": "Lock editing of floor for 5 minutes when user visit floor page",
        "description": "Need right update_floor.",
        "operationId": "postFloorLock",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "description": "Auth Token",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "id",
            "description": "Id of floor",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation. return svg file",
            "schema": {
              "$ref": "#/definitions/Lock"
            }
          },
          "401": {
            "description": "Access denied",
            "schema": {
              "$ref": "#/definitions/AccesDeniedResponse"
            }
          }
        }
      }
    },
    "/cob/floors/{building_id}": {
      "get": {
        "tags": [
          "floors"
        ],
        "summary": "Get floors in building",
        "description": "Need right view_floors.",
        "operationId": "getFloorsInBuilding",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "description": "Auth Token",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "building_id",
            "description": "Building id in which need to load floors",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Floor"
              }
            }
          },
          "401": {
            "description": "Access denied",
            "schema": {
              "$ref": "#/definitions/AccesDeniedResponse"
            }
          }
        }
      }
    },
    "/floor_details/{id}": {
      "post": {
        "tags": [
          "floors"
        ],
        "summary": "Update floor details by ID",
        "description": "Returns floor with some details ",
        "operationId": "getFloorDetailsById",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "description": "Auth Token",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "description": "ID of floor",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Floor details",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateFloorDetaisBody"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "object",
              "properties": {
                "floor": {
                  "type": "object",
                  "$ref": "#/definitions/FloorWithFloorConfig"
                },
                "object_items": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/ObjectItem"
                  }
                },
                "locations": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Location"
                  }
                },
                "locked": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "BLOCKED_BY_OTHER"
                    },
                    "block": {
                      "type": "object",
                      "$ref": "#/definitions/FloorBlock"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Access denied",
            "schema": {
              "$ref": "#/definitions/AccesDeniedResponse"
            }
          }
        }
      }
    },
    "/floors_configs": {
      "get": {
        "tags": [
          "floor_configs"
        ],
        "summary": "Get floors config",
        "description": "Need right view_floors_configs",
        "operationId": "getFloorConfigs",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "description": "Auth Token",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FloorConfig"
              }
            }
          },
          "401": {
            "description": "Access denied",
            "schema": {
              "$ref": "#/definitions/AccesDeniedResponse"
            }
          }
        }
      },
      "post": {
        "tags": [
          "floor_configs"
        ],
        "summary": "Add a new floor config",
        "description": "Need right create_floors_config",
        "operationId": "addFloorConfigs",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "description": "Auth Token",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Floor object that needs to be added",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FloorConfig"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/FloorConfig"
            }
          },
          "401": {
            "description": "Access denied",
            "schema": {
              "$ref": "#/definitions/AccesDeniedResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "floor_configs"
        ],
        "summary": "Update an existing floor config",
        "description": "Need right update_floors_config",
        "operationId": "updateFloorConfigs",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "description": "Auth Token",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FloorConfig"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/FloorConfig"
            }
          },
          "401": {
            "description": "Access denied",
            "schema": {
              "$ref": "#/definitions/AccesDeniedResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "floor_configs"
        ],
        "summary": "Delete floor config",
        "description": "Need right delete_floors_config",
        "operationId": "deleteFloorConfigs",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "description": "Auth Token",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "id",
            "description": "",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "example": "47"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "example": "47"
                },
                "message": {
                  "type": "string",
                  "example": "Floor removed"
                }
              }
            }
          },
          "401": {
            "description": "Access denied",
            "schema": {
              "$ref": "#/definitions/AccesDeniedResponse"
            }
          }
        }
      }
    },
    "/floors_configs/{id}": {
      "get": {
        "tags": [
          "floor_configs"
        ],
        "summary": "Find floor config by ID",
        "description": "Returns a single floor config, need right view_floors_config",
        "operationId": "getFloorConfigsById",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "description": "Auth Token",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "description": "ID of floor to return",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/FloorConfig"
            }
          },
          "401": {
            "description": "Access denied",
            "schema": {
              "$ref": "#/definitions/AccesDeniedResponse"
            }
          }
        }
      }
    },
    "/object_items": {
      "get": {
        "tags": [
          "object_items"
        ],
        "summary": "Get Object Items. Supports remote-server pagination, sorting, filtering.",
        "description": "Need right view_object_items",
        "operationId": "getObjectItems",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "description": "Auth Token",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "name": "page",
            "description": "Page what you need to get. By default 0 that means all object_items.",
            "type": "string"
          },
          {
            "in": "header",
            "name": "per_page",
            "description": "Elements per each page. By default 0 that means all object_items.",
            "type": "string"
          },
          {
            "in": "header",
            "name": "type_id",
            "description": "Object type ID (object_types table) that you want to get. -1 means that need all types. \nUsed for tabs at https://navi.t-systems.ru/objects",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "name": "sort_field",
            "description": "Support all fields of object_item entity and meta_fields(need meta_sort=true and this parameter format for this case is '[meta_values.meta_field_id]-[meta_values.metable_type]') that mapped to it also. \nWithout sord_order parameter can't work.",
            "type": "string"
          },
          {
            "in": "header",
            "name": "sort_order",
            "description": "ASC or DESC",
            "type": "string"
          },
          {
            "in": "header",
            "name": "meta_sort",
            "description": "True if sorting by meta_fields, False if usual sorting by fields in object_items table. By default set false.",
            "type": "string"
          },
          {
            "in": "header",
            "name": "filters",
            "description": "Filter format is {'field': 'yyy', 'value': 'xxx'}. \nSupport filtering by meta feilds in this case format is {'field': '[meta_values.meta_field_id]-[meta_values.metable_type]', 'value': 'xxx'}. \nAlso support fields like 'item_subtype', 'floor_name', 'name', 'building_name', 'object_type_id' and others.",
            "type": "string"
          },
          {
            "in": "header",
            "name": "as_file",
            "description": "If true returns xls file, otherwise return json.",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ObjectItemWithAdditionalInfo"
              }
            }
          },
          "401": {
            "description": "Access denied",
            "schema": {
              "$ref": "#/definitions/AccesDeniedResponse"
            }
          }
        }
      },
      "post": {
        "tags": [
          "object_items"
        ],
        "summary": "Add a new object item",
        "description": "Need right create_object_item",
        "operationId": "addObjectItem",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "description": "Auth Token",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Floor object that needs to be added",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ObjectItem"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ObjectItem"
            }
          },
          "401": {
            "description": "Access denied",
            "schema": {
              "$ref": "#/definitions/AccesDeniedResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "object_items"
        ],
        "summary": "Update an existing object_item",
        "description": "Need right update_object_item. When you place employee on empty place generates in HeartbeatsController 'removing' (previous place set as RESERVED) and 'seat' record. \nWhen you put the employee in the occupied place generates in HeartbeatsController 'removing' record about the removal of the previous 'employee from the place' / 'DS table' and 'moving' record to the current employee. \nWhen you removing employee from place generates in HeartbeatsController 'removing' record and 'moving_to_ds'/'moving_to_gt'/'reservation' for this place. \nIf place switched to DS or reservation from empty status generates in HeartbeatsController 'moving_to_ds'/'moving_to_gt'/'reservation' for this place.",
        "operationId": "updateObjectItem",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "description": "Auth Token",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ObjectItem"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ObjectItemWithAdditionalInfo"
            }
          },
          "401": {
            "description": "Access denied",
            "schema": {
              "$ref": "#/definitions/AccesDeniedResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "object_items"
        ],
        "summary": "Delete object item",
        "description": "Need right delete_object_item",
        "operationId": "deleteObjectItem",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "description": "Auth Token",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "id",
            "description": "",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "example": "47"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "Object Item removed"
                }
              }
            }
          },
          "401": {
            "description": "Access denied",
            "schema": {
              "$ref": "#/definitions/AccesDeniedResponse"
            }
          }
        }
      }
    },
    "/object_items/{id}": {
      "get": {
        "tags": [
          "object_items"
        ],
        "summary": "Find object item by ID. Used usualy when user click table on the map. Also in object items management.",
        "description": "Returns a single object item with additional info.",
        "operationId": "getObjectItemById",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "description": "Auth Token",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "description": "ID of object item to return",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ObjectItemWithAdditionalInfo"
            }
          },
          "401": {
            "description": "Access denied",
            "schema": {
              "$ref": "#/definitions/AccesDeniedResponse"
            }
          }
        }
      }
    },
    "/object_types": {
      "get": {
        "tags": [
          "object_types"
        ],
        "summary": "Get object types",
        "description": "Need right object_types",
        "operationId": "getObjectTypes",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "description": "Auth Token",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ObjectType"
              }
            }
          },
          "401": {
            "description": "Access denied",
            "schema": {
              "$ref": "#/definitions/AccesDeniedResponse"
            }
          }
        }
      },
      "post": {
        "tags": [
          "object_types"
        ],
        "summary": "Add a new object type",
        "description": "Need right create_object_type",
        "operationId": "addObjectType",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "description": "Auth Token",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Floor object that needs to be added",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ObjectType"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ObjectType"
            }
          },
          "401": {
            "description": "Access denied",
            "schema": {
              "$ref": "#/definitions/AccesDeniedResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "object_types"
        ],
        "summary": "Update an existing object type",
        "description": "Need right update_object_type",
        "operationId": "updateObjectType",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "description": "Auth Token",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ObjectType"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ObjectType"
            }
          },
          "401": {
            "description": "Access denied",
            "schema": {
              "$ref": "#/definitions/AccesDeniedResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "object_types"
        ],
        "summary": "Delete object type",
        "description": "Need right delete_object_type",
        "operationId": "deleteObjectType",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "description": "Auth Token",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "id",
            "description": "",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "example": "47"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "example": "47"
                },
                "message": {
                  "type": "string",
                  "example": "Floors Config removed"
                }
              }
            }
          },
          "401": {
            "description": "Access denied",
            "schema": {
              "$ref": "#/definitions/AccesDeniedResponse"
            }
          }
        }
      }
    },
    "/object_types/{id}": {
      "get": {
        "tags": [
          "object_types"
        ],
        "summary": "Find object type by ID",
        "description": "Returns a single floor Need right view_object_type",
        "operationId": "getObjectTypeById",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "description": "Auth Token",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "description": "ID of floor to return",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ObjectType"
            }
          },
          "401": {
            "description": "Access denied",
            "schema": {
              "$ref": "#/definitions/AccesDeniedResponse"
            }
          }
        }
      }
    },
    "/locations?no_meta=true": {
      "get": {
        "tags": [
          "locations"
        ],
        "summary": "Get Locations. Supports remote-server pagination, sorting, filtering. no_meta=true means that in result response there are no meta info for each location.",
        "description": "Need right view_locations",
        "operationId": "getLocationsNoMeta",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "description": "Auth Token",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "name": "page",
            "description": "Page what you need to get. By default 0 that means all locations.",
            "type": "string"
          },
          {
            "in": "header",
            "name": "per_page",
            "description": "Elements per each page. By default 0 that means all locations.",
            "type": "string"
          },
          {
            "in": "header",
            "name": "type_id",
            "description": "Location type ID (location_types table) that you want to get. -1 means that need all types. \nUsed for tabs at https://navi.t-systems.ru/locations",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "name": "sort_field",
            "description": "Support all fields of location's entity and meta_fields(need meta_sort=true and this parameter format for this case is '[meta_values.meta_field_id]-[meta_values.metable_type]') that mapped to it also.",
            "type": "string"
          },
          {
            "in": "header",
            "name": "sort_order",
            "description": "ASC or DESC",
            "type": "string"
          },
          {
            "in": "header",
            "name": "meta_sort",
            "description": "True if sorting by meta_fields, False if usual sorting by fields in locations table",
            "type": "string"
          },
          {
            "in": "header",
            "name": "no_meta",
            "description": "By default false. Exclude adding meta information to each location for results in response. By default false.",
            "type": "string"
          },
          {
            "in": "header",
            "name": "filters",
            "description": "Filter format is {'field': 'yyy', 'value': 'xxx'}. \nSupport filtering by meta feilds in this case format is {'field': '[meta_values.meta_field_id]-[meta_values.metable_type]', 'value': 'xxx'}. \nAlso support fields like 'item_subtype', 'floor_name', 'name'.",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Location"
              }
            }
          },
          "401": {
            "description": "Access denied",
            "schema": {
              "$ref": "#/definitions/AccesDeniedResponse"
            }
          }
        }
      }
    },
    "/locations": {
      "get": {
        "tags": [
          "locations"
        ],
        "summary": "Get Locations. Supports remote-server pagination, sorting, filtering.",
        "description": "Need right view_locations",
        "operationId": "getLocations",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "description": "Auth Token",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "name": "page",
            "description": "Page what you need to get. By default 0 that means all locations.",
            "type": "string"
          },
          {
            "in": "header",
            "name": "per_page",
            "description": "Elements per each page. By default 0 that means all locations.",
            "type": "string"
          },
          {
            "in": "header",
            "name": "type_id",
            "description": "Location type ID (location_types table) that you want to get. -1 means that need all types. \nUsed for tabs at https://navi.t-systems.ru/locations",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "name": "sort_field",
            "description": "Support all fields of location's entity and meta_fields(need meta_sort=true and this parameter format for this case is '[meta_values.meta_field_id]-[meta_values.metable_type]') that mapped to it also.",
            "type": "string"
          },
          {
            "in": "header",
            "name": "sort_order",
            "description": "ASC or DESC",
            "type": "string"
          },
          {
            "in": "header",
            "name": "meta_sort",
            "description": "True if sorting by meta_fields, False if usual sorting by fields in locations table",
            "type": "string"
          },
          {
            "in": "header",
            "name": "no_meta",
            "description": "By default false. Exclude adding meta information to each location for results in response. By default false.",
            "type": "string"
          },
          {
            "in": "header",
            "name": "filters",
            "description": "Filter format is {'field': 'yyy', 'value': 'xxx'}. \nSupport filtering by meta feilds in this case format is {'field': '[meta_values.meta_field_id]-[meta_values.metable_type]', 'value': 'xxx'}. \nAlso support fields like 'item_subtype', 'floor_name', 'name'.",
            "type": "string"
          },
          {
            "in": "header",
            "name": "fast_load",
            "description": "Fast load all locations without any additional info.",
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/LocationWithMeta"
              }
            }
          },
          "401": {
            "description": "Access denied",
            "schema": {
              "$ref": "#/definitions/AccesDeniedResponse"
            }
          }
        }
      },
      "post": {
        "tags": [
          "locations"
        ],
        "summary": "Add a new location",
        "description": "Need right create_location",
        "operationId": "addLocation",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "description": "Auth Token",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Location object that needs to be added",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Location"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Location"
            }
          },
          "401": {
            "description": "Access denied",
            "schema": {
              "$ref": "#/definitions/AccesDeniedResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "locations"
        ],
        "summary": "Update an existing location",
        "description": "Need right update_location.",
        "operationId": "updateLocation",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "description": "Auth Token",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Location"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/LocationWithMetaAndNoAdditionalInfo"
            }
          },
          "401": {
            "description": "Access denied",
            "schema": {
              "$ref": "#/definitions/AccesDeniedResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "locations"
        ],
        "summary": "Delete location",
        "description": "Need right delete_location",
        "operationId": "deleteLocation",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "description": "Auth Token",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "id",
            "description": "",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "example": "47"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "Locations removed"
                }
              }
            }
          },
          "401": {
            "description": "Access denied",
            "schema": {
              "$ref": "#/definitions/AccesDeniedResponse"
            }
          }
        }
      }
    },
    "/locations/{id}": {
      "get": {
        "tags": [
          "locations"
        ],
        "summary": "Find location by ID. Used usualy when user click on location on the map. Also in locations management.",
        "description": "Returns a single location with meta and no additional info.",
        "operationId": "getLocationById",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "description": "Auth Token",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "description": "ID of location to return",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/LocationWithMetaAndNoAdditionalInfo"
            }
          },
          "401": {
            "description": "Access denied",
            "schema": {
              "$ref": "#/definitions/AccesDeniedResponse"
            }
          }
        }
      }
    },
    "/locations_not_in_contract": {
      "get": {
        "tags": [
          "locations"
        ],
        "summary": "Get Locations not in contract. Supports remote-server pagination.",
        "description": "Need right view_locations & view_contracts",
        "operationId": "getLocationsNotInContract",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "description": "Auth Token",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "name": "page",
            "description": "Page what you need to get. By default 0 that means all locations.",
            "type": "string",
            "required": true
          },
          {
            "in": "header",
            "name": "per_page",
            "required": true,
            "description": "Elements per each page. By default 0 that means all locations.",
            "type": "string"
          },
          {
            "in": "header",
            "name": "contract_id",
            "description": "id of contract",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "id",
            "description": "offices_ids - filtering by offices",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "offices_ids": {
                  "type": "array",
                  "items": {
                    "type": "integer",
                    "example": "47"
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "object",
              "properties": {
                "count": {
                  "type": "integer",
                  "example": 1
                },
                "locations": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Location"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Access denied",
            "schema": {
              "$ref": "#/definitions/AccesDeniedResponse"
            }
          }
        }
      }
    },
    "/location_types": {
      "get": {
        "tags": [
          "location_types"
        ],
        "summary": "Get location types",
        "description": "Need right location_types",
        "operationId": "getLocationTypes",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "description": "Auth Token",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/LocationType"
              }
            }
          },
          "401": {
            "description": "Access denied",
            "schema": {
              "$ref": "#/definitions/AccesDeniedResponse"
            }
          }
        }
      },
      "post": {
        "tags": [
          "location_types"
        ],
        "summary": "Add a new location type",
        "description": "Need right create_location_type",
        "operationId": "addLocationType",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "description": "Auth Token",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Location type that needs to be added",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LocationType"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/LocationType"
            }
          },
          "401": {
            "description": "Access denied",
            "schema": {
              "$ref": "#/definitions/AccesDeniedResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "location_types"
        ],
        "summary": "Update an existing location type",
        "description": "Need right update_location_type",
        "operationId": "updateLocationType",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "description": "Auth Token",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LocationType"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/LocationType"
            }
          },
          "401": {
            "description": "Access denied",
            "schema": {
              "$ref": "#/definitions/AccesDeniedResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "location_types"
        ],
        "summary": "Delete location type",
        "description": "Need right delete_location_type",
        "operationId": "deleteLocationType",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "description": "Auth Token",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "id",
            "description": "",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "example": "47"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "example": "47"
                },
                "message": {
                  "type": "string",
                  "example": "Location Type removed"
                }
              }
            }
          },
          "401": {
            "description": "Access denied",
            "schema": {
              "$ref": "#/definitions/AccesDeniedResponse"
            }
          }
        }
      }
    },
    "/location_types/{id}": {
      "get": {
        "tags": [
          "location_types"
        ],
        "summary": "Find location type by ID",
        "description": "Returns a single floor Need right view_location_type",
        "operationId": "getLocationTypeById",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "description": "Auth Token",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "description": "ID of floor to return",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/LocationType"
            }
          },
          "401": {
            "description": "Access denied",
            "schema": {
              "$ref": "#/definitions/AccesDeniedResponse"
            }
          }
        }
      }
    },
    "/get_bookings": {
      "post": {
        "tags": [
          "bookings"
        ],
        "summary": "Get Bookings. Supports remote-server pagination, sorting, filtering. Can return the result response also as .xls file(as_file=true).",
        "description": "No rights needed. Have different responses depending on parameters.",
        "operationId": "getBookings",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "description": "Auth Token",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "- page - page in result table\n- per_page - element per page in result table\n- sorting have 2 properties: \n-- field - supports each column of bookings table and additional parameters\n ---  employee_label - sorting by surname and name\n --- object_item.buildings_name - sorting by buildings_name\n --- object_item.location_name - sorting by location_name\n --- place_path - sroting by object_items.name\n --- object_item.costcenter_num - sorting by object_items.costcenter_num\n --- status - sorting by bookings.book_from\n -- order have 2 values: ASC and DESC\n- filters have 2 properties:\n -- field - supports all bookings columns and addtional:\n --- employee_label - filtering by surname and name\n --- object_item.buildings_name - filtering by buildings_name\n --- object_item.location_name - filtering by location_name\n --- place_path - filtering by object_items.name\n --- employee_id - filtering by employee_id\n --- floor_id - filtering by floor_id. If you want to get 'can_book' property in result response not only false, need to set 'floor_id' and 'place_id' in filters not empty and also not empty 'user_id'\n --- place_id - filtering by object_items.id. If you want to get 'can_book' property in result response not only false, need to set 'floor_id' and 'place_id' in filters not empty and also not empty 'user_id'\n --- archive_bookings - filter only archive bookings if have value 'true'\n --- current_booking - filter only current bookings if have value 'true'\n --- costcenter_selected - filtering by costcenter_num, format for value is '12345,54321,56789'\n --- buildings - filtering by buildings.id, format for value is '1,2,6,8,10'\n - as_file - if true return the same results like in 'bookings' in .xls format without 'can_book' and 'count'\n - user_id - using when you want to get can_book property not only false for concrete place, need to set 'floor_id' and 'place_id' in filters not empty and also user_id not empty\n - no_current_date - using for parking, when you need available object_items for today",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "page": {
                  "type": "integer",
                  "example": "2"
                },
                "per_page": {
                  "type": "integer",
                  "example": "10"
                },
                "sorting": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "field": {
                        "type": "string",
                        "example": "created_at"
                      },
                      "order": {
                        "type": "string",
                        "example": "ASC"
                      }
                    }
                  }
                },
                "filters": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "field": {
                        "type": "string",
                        "example": "employee_id"
                      },
                      "value": {
                        "type": "string",
                        "example": "1356"
                      }
                    }
                  }
                },
                "as_file": {
                  "type": "boolean",
                  "example": "false"
                },
                "user_id": {
                  "type": "integer",
                  "example": "1236"
                },
                "no_current_date": {
                  "type": "boolean",
                  "example": "false"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "object",
              "properties": {
                "bookings": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Booking"
                  }
                },
                "can_book": {
                  "type": "boolean",
                  "example": "false"
                },
                "count": {
                  "type": "integer",
                  "example": 1
                }
              }
            }
          }
        }
      }
    },
    "/bookings": {
      "post": {
        "tags": [
          "bookings"
        ],
        "summary": "Add a new booking",
        "description": "You might have set_booking_on_the_same_time need and/or book_for_others rights. \nIf you set parameter employee and have both of this rights you can book for other people and for the same time.\n",
        "operationId": "addBooking",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "description": "Auth Token",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "- object_item - place that you want to book (status of this place must be SHARING). Actually, you must have only name parameter in object_item object.\n- book_from and book_to must be like 'mm-dd-yyyy'.\n- employee means for which colleague you want to book.\n- switchState provide functionality of booking for people that aren't at our system, for example, for german colleagues in this case you need to set name and surname at employee field and this booking will be added to current logged in user that gets from token. By default set as true and means that employee in system.\n - comment - now it's technical field that using in case when you searching user in global search and you can see that it can have booking today.",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "object_item": {
                  "$ref": "#/definitions/ObjectItemSharing"
                },
                "book_from": {
                  "type": "string",
                  "example": "2021-07-23"
                },
                "book_to": {
                  "type": "string",
                  "example": "2021-07-24"
                },
                "comment": {
                  "type": "string",
                  "example": "comment"
                },
                "employee": {
                  "type": "string",
                  "example": "1236"
                },
                "swtichState": {
                  "type": "string",
                  "example": "true"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Booking"
            }
          },
          "550": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Error550"
            }
          },
          "551": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Error551"
            }
          },
          "552": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Error552"
            }
          },
          "553": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Error553"
            }
          },
          "559": {
            "description": "Now happens when you try to book place for other employee without right book_for_others",
            "schema": {
              "$ref": "#/definitions/Error559"
            }
          }
        }
      },
      "put": {
        "tags": [
          "bookings"
        ],
        "summary": "Update an existing location",
        "description": "You might have set_booking_on_the_same_time need and/or book_for_others rights. \nIf you set parameter employee and have both of this rights you can book for other people and for the same time.\n",
        "operationId": "updateBooking",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "description": "Auth Token",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "- object_item - place that you want to book (status of this place must be SHARING). Actually, you must have only name parameter in object_item object.\n- object_item_prev - previous place of booking (status of this place must be SHARING). Actually, you must have only name parameter in nobject_item_prev object.\n- book_from and book_to must be like 'mm-dd-yyyy'.\n- employee means for which colleague you want to book.\n - switchState provide functionality of booking for people that aren't at our system, for example, for german colleagues in this case you need to set name and surname at employee field and this booking will be added to current logged in user that gets from token. By default set as true and means that employee in system.\n - comment - now it's technical field that using in case when you searching user in global search and you can see that it can have booking today.",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "book_id": {
                  "type": "string",
                  "example": "12"
                },
                "object_item": {
                  "$ref": "#/definitions/ObjectItemSharing"
                },
                "object_item_prev": {
                  "$ref": "#/definitions/ObjectItemSharing"
                },
                "book_from": {
                  "type": "string",
                  "example": "2021-07-23"
                },
                "book_to": {
                  "type": "string",
                  "example": "2021-07-24"
                },
                "comment": {
                  "type": "string",
                  "example": "comment"
                },
                "employee": {
                  "type": "string",
                  "example": "1236"
                },
                "swtichState": {
                  "type": "string",
                  "example": "true"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Booking"
            }
          },
          "550": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Error550"
            }
          },
          "551": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Error551"
            }
          },
          "552": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Error552"
            }
          },
          "553": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Error553"
            }
          },
          "558": {
            "description": "Now happens when you try to update booking for other employee without right book_for_others",
            "schema": {
              "$ref": "#/definitions/Error558"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "bookings"
        ],
        "summary": "Delete location",
        "description": "You might have right delete_all_bookings or if you try to delete not your's booking you get 401 error.",
        "operationId": "deleteBooking",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "description": "Auth Token",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "name": "id",
            "description": "ID of booking",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "Locations removed"
                }
              }
            }
          },
          "401": {
            "description": "Access denied",
            "schema": {
              "$ref": "#/definitions/AccesDeniedResponse"
            }
          }
        }
      }
    },
    "/bookings/{id}": {
      "get": {
        "tags": [
          "bookings"
        ],
        "summary": "Find booking by ID.",
        "description": "Returns a single booking.",
        "operationId": "getBookingById",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "description": "Auth Token",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "description": "ID of booking to return",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Booking"
            }
          },
          "401": {
            "description": "Access denied",
            "schema": {
              "$ref": "#/definitions/AccesDeniedResponse"
            }
          }
        }
      }
    },
    "/bookings/search_available_places": {
      "post": {
        "tags": [
          "bookings"
        ],
        "summary": "Search available places for booking",
        "description": "You might have set_booking_on_the_same_time need and/or book_for_others rights. \nIf you set parameter employee and have both of this rights you can book for other people and for the same time.\n",
        "operationId": "searchAvailablePlaces",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "description": "Auth Token",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "- book_from adn book_to - required.\n - place_addr - name of object_item. If not empty checking availability of this place or 550 error. If empty returns array of available places or 550 error.\n - book_id - using for avoiding checking this booking or object_item. Not using in app, can become deprecated.\n - office_id - searching in concrete office\n - building_id - searching in concrete building\n - location_id - searching in concrete location",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "book_from": {
                  "type": "string",
                  "example": "2021-07-23"
                },
                "book_to": {
                  "type": "string",
                  "example": "2021-07-24"
                },
                "place_addr": {
                  "type": "string",
                  "example": "SOB63LAC"
                },
                "book_id": {
                  "type": "integer",
                  "example": "13"
                },
                "office_id": {
                  "type": "integer",
                  "example": "666"
                },
                "building_id": {
                  "type": "integer",
                  "example": "1488"
                },
                "location_id": {
                  "type": "integer",
                  "example": "1337"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation. 'ready' means that place are ready for booking and can be booked.",
            "schema": {
              "$ref": "#/definitions/SearchAvailablePlacesResponse"
            }
          },
          "550": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Error550"
            }
          },
          "552": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Error552"
            }
          },
          "553": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Error553"
            }
          },
          "560": {
            "description": "Now happens when you try to search place for other employee without right book_for_others",
            "schema": {
              "$ref": "#/definitions/Error560"
            }
          }
        }
      }
    },
    "/bookings/search_bookings": {
      "get": {
        "tags": [
          "bookings"
        ],
        "summary": "Get data about bookings for some employee by email or for some place by it's name or ID. Using only chatbot now.",
        "description": "No rights needed.",
        "operationId": "searchBookings",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "description": "Auth Token",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "- place_id - ID of object item. The same result when using 'place_addr'\n - place_addr - object_item.name The same result when using 'place_id'\n - email - email of employee. Usualyy expect 'xxx.yyy@t-systems.com'\n - current - when 'true' return only bookings that are current.",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "place_id": {
                  "type": "integer",
                  "example": "1488"
                },
                "place_addr": {
                  "type": "integer",
                  "example": "SOB63LAC"
                },
                "email": {
                  "type": "integer",
                  "example": "sergei.brezhnev@t-systems.com"
                },
                "current": {
                  "type": "boolean",
                  "example": "true"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "object",
              "properties": {
                "bookings": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/SearchBookingsResponse"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/search/employees": {
      "get": {
        "tags": [
          "search"
        ],
        "summary": "Get info about employees by specified query. Supports pagination.",
        "description": "No rights needed.",
        "operationId": "searchEmployees",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "description": "Auth Token",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "name": "query",
            "description": "Query for searching in name, surname, patronymic, login and email.",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "name": "page",
            "description": "Number of page.",
            "required": true,
            "type": "integer"
          },
          {
            "in": "header",
            "name": "per_page",
            "description": "Count of entitites at page.",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation. Status can 'REGULAR', 'MATERNITY'.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Employee"
              }
            }
          }
        }
      }
    },
    "/search/places": {
      "get": {
        "tags": [
          "search"
        ],
        "summary": "Get all available places for booking without dates of booking by specified query. Supports pagination.",
        "description": "No rights needed.",
        "operationId": "searchPlaces",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "description": "Auth Token",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "name": "query",
            "description": "Query for searching in object item name.",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "name": "page",
            "description": "Number of page.",
            "required": true,
            "type": "integer"
          },
          {
            "in": "header",
            "name": "per_page",
            "description": "Count of entitites at page.",
            "required": true,
            "type": "integer"
          },
          {
            "in": "header",
            "name": "employee_id",
            "description": "Target id of employee.",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation.",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "example": "1791"
                  },
                  "name": {
                    "type": "string",
                    "example": "SOB64RAK"
                  },
                  "costcenter_num": {
                    "type": "integer",
                    "example": "2583000"
                  },
                  "floor_id": {
                    "type": "integer",
                    "example": "38"
                  },
                  "office_name": {
                    "type": "string",
                    "example": "БЦ Остров"
                  },
                  "office_id": {
                    "type": "integer",
                    "example": "3"
                  },
                  "city_name": {
                    "type": "string",
                    "example": "Санкт-Петербург"
                  },
                  "city_id": {
                    "type": "integer",
                    "example": "2"
                  },
                  "floor_name": {
                    "type": "string",
                    "example": "4 этаж (правое крыло)"
                  },
                  "building_id": {
                    "type": "integer",
                    "example": "8"
                  },
                  "building_name": {
                    "type": "string",
                    "example": "Остров"
                  },
                  "place_id": {
                    "type": "integer",
                    "example": "1791"
                  },
                  "ready": {
                    "type": "boolean",
                    "example": "true"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/search/costcenters": {
      "get": {
        "tags": [
          "search"
        ],
        "summary": "Get all costcenters by specified query. Supports pagination.",
        "description": "No rights needed.",
        "operationId": "searchCostcenters",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "description": "Auth Token",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "name": "query",
            "description": "Query for searching for costcenters.",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "name": "page",
            "description": "Number of page.",
            "required": true,
            "type": "integer"
          },
          {
            "in": "header",
            "name": "per_page",
            "description": "Count of entitites at page.",
            "required": true,
            "type": "integer"
          },
          {
            "in": "header",
            "name": "with_text",
            "description": "By default false. If true means that searching not only by costcenter's number but with costcenter's name also. If false means that searching only by costcenter's number.",
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation. 'with_text' false.",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "example": "2583222"
              }
            }
          }
        }
      }
    },
    "/search/costcenters?with_text=true": {
      "get": {
        "tags": [
          "search"
        ],
        "summary": "Get all costcenters by specified query. Supports pagination.",
        "description": "No rights needed.",
        "operationId": "searchCostcentersWithTextTrue",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "description": "Auth Token",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "name": "query",
            "description": "Query for searching for costcenters.",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "name": "page",
            "description": "Number of page.",
            "required": true,
            "type": "integer"
          },
          {
            "in": "header",
            "name": "per_page",
            "description": "Count of entitites at page.",
            "required": true,
            "type": "integer"
          },
          {
            "in": "header",
            "name": "with_text",
            "description": "By default false. If true means that searching not only by costcenter's number but with costcenter's name also. If false means that searching only by costcenter's number.",
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation. 'with_text' true.",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "example": "2583222"
                  },
                  "name": {
                    "type": "string",
                    "example": "Tel-IT BSO WS 2583222"
                  },
                  "search_id": {
                    "type": "string",
                    "example": "2583222_costcenter"
                  },
                  "preview": {
                    "type": "string",
                    "example": "2583222 Tel-IT BSO WS"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/search/costcenters/all": {
      "get": {
        "tags": [
          "search"
        ],
        "summary": "Get all costcenters",
        "description": "No rights needed.",
        "operationId": "searchCostcentersAll",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "description": "Auth Token",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation. 'with_text' false.",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "number": {
                    "type": "integer",
                    "example": "1140300"
                  },
                  "name": {
                    "type": "string",
                    "example": "Solutions&Projects"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/search/projects": {
      "get": {
        "tags": [
          "search"
        ],
        "summary": "Get all projects by specified query. Supports pagination. !!!Not working optimized now, can take over 10 seconds for response!!!.",
        "description": "No rights needed.",
        "operationId": "searchProjects",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "description": "Auth Token",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "name": "query",
            "description": "Query for searching for projects.",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "name": "page",
            "description": "Number of page.",
            "required": true,
            "type": "integer"
          },
          {
            "in": "header",
            "name": "per_page",
            "description": "Count of entitites at page.",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation.",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "example": "5d434da5-a6cd-44d8-94d2-dda9431e7efd"
                  },
                  "name": {
                    "type": "string",
                    "example": "Carola Online"
                  },
                  "search_id": {
                    "type": "string",
                    "example": "5d434da5-a6cd-44d8-94d2-dda9431e7efd_project"
                  },
                  "preview": {
                    "type": "string",
                    "example": "Carola Online"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/search/projects/all": {
      "get": {
        "tags": [
          "search"
        ],
        "summary": "Get all projects.",
        "description": "No rights needed.",
        "operationId": "searchProjectsAll",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "description": "Auth Token",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation.",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "example": "5d434da5-a6cd-44d8-94d2-dda9431e7efd"
                  },
                  "name": {
                    "type": "string",
                    "example": "Carola Online"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/search/locations": {
      "get": {
        "tags": [
          "search"
        ],
        "summary": "Get all locations by specified query. Supports pagination.",
        "description": "No rights needed.",
        "operationId": "searchLocations",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "description": "Auth Token",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "name": "query",
            "description": "Query for searching for locations name or location_type name.",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "name": "page",
            "description": "Number of page.",
            "required": true,
            "type": "integer"
          },
          {
            "in": "header",
            "name": "per_page",
            "description": "Count of entitites at page.",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Location"
              }
            }
          }
        }
      }
    },
    "/search/employees_in_costcenter": {
      "get": {
        "tags": [
          "search"
        ],
        "summary": "Get all emploees in specified costcenter. Can return the result response also as .xls file(as_file=true).",
        "description": "No rights needed.",
        "operationId": "searchEmployeesInCostcenter",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "description": "Auth Token",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "name": "costcenter_num",
            "description": "Costcenter number.",
            "required": true,
            "type": "integer"
          },
          {
            "in": "header",
            "name": "as_file",
            "description": "By default false. If true return result as .xls file, if false return as array.",
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation.",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "employees": {
                    "type": "array",
                    "items": {
                      "$ref": "#/definitions/Employee"
                    }
                  },
                  "head": {
                    "$ref": "#/definitions/Employee"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/search/employees_in_project": {
      "get": {
        "tags": [
          "search"
        ],
        "summary": "Get all emploees in specified project. Can return the result response also as .xls file(as_file=true).",
        "description": "No rights needed.",
        "operationId": "searchEmployeesInProject",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "description": "Auth Token",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "name": "project_id",
            "description": "ID of project, string value.",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "name": "as_file",
            "description": "By default false. If true return result as .xls file, if false return as array.",
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation.",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "example": "5d434da5-a6cd-44d8-94d2-dda9431e7efd"
                  },
                  "name": {
                    "type": "string",
                    "example": "Carola Online"
                  },
                  "structureName": {
                    "type": "string",
                    "example": "CSO TS2 WM"
                  },
                  "employees": {
                    "type": "array",
                    "items": {
                      "$ref": "#/definitions/Employee"
                    }
                  },
                  "heads": {
                    "type": "array",
                    "items": {
                      "$ref": "#/definitions/Employee"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/search/stats": {
      "get": {
        "tags": [
          "search"
        ],
        "summary": "Get stats of searching. Good using it with /search/results/{target}.",
        "description": "No rights needed. Searching for: employees (name, surname, patronymic), locations (name, description, location_type.name), object items like desks and other stuff individually (name, comment, costcenter_num if query is number, object_types.name), costcenters (name adn number), projects (name and id). Using at page with stats for globla search, see https://navi.t-systems.ru/search?q=25",
        "operationId": "searchStats",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "description": "Auth Token",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "name": "query",
            "description": "Searching query.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation.",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "emp_count": {
[...]
