.tab_button {
    margin-left: 10px;
    margin-bottom: 7px;
    border: none;
    background-color: #ededed;
    color: #4b4b4b;
    font-size: 14px;
}

.tab_button:hover{
    color: #777777;
}

.tab_button:focus {
    border: none;
    outline: 0px !important;
}

.vector_accordion {
    margin-left: 10px;
    color: #4b4b4b;
}

.input_checkbox {
    margin: 0px !important;
}

.input_checkbox-round:checked {
}

.building_item_a {
    margin-left: 10px;
    background-color: #ededed;
    color: #4b4b4b;
    font-size: 14px;
}

.building_item_a:hover {
    color: #777777;
}

.button_show_bookings {
    width: 100% !important;
    background-color: #5aa0a0 !important;
    color: #EDEDED !important;
    box-shadow: none;
}

.show_div_filter_bbokings > button {
    font-size: 16px !important;
    margin-bottom: 150px;
}

.button_show_bookings:hover {
    background-color: #64b4b4 !important;
    color: #EDEDED !important;
}

.button_show_bookings:focus {
    background-color: rgb(179, 2, 93) !important;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border: none;
    outline: 0px !important;
}

#text-filter-employee_label {
    min-width: 300px;
    margin-left: -5px;
    font-weight: 100 !important;
}